<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.wolf.werewolfkillerscore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".base.WolfApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.wolf.werewolfkillerscore.billboard.BillboardActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.android.wolf.werewolfkillerscore.history.HistoryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.android.wolf.werewolfkillerscore.gamer.GamerListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.android.wolf.werewolfkillerscore.role.RoleListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.android.wolf.werewolfkillerscore.creategame.CreateGameActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.android.wolf.werewolfkillerscore.gamer.CreateGamerActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.android.wolf.werewolfkillerscore.role.CreateRoleActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>